* {
    margin : 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body
{
    background-color:#ffffff;
}
nav{
    background-color:slategrey;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}
ul li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 0.3rem ;
    margin-left: 0.3rem ;
}
.container{
    padding-bottom: 3.125rem ;
}


.card{
    margin-top: 3.125rem ;
}
